@use './src/styles/_variables';
@use './src/styles/animations';
@use './src/styles/answers';
@use './src/styles/footer';
@use './src/styles/header';
@use './src/styles/popup';
@use './src/styles/snippets';
@use './src/styles/utilities';

:root {
  --primary: #fff;
  --secondary: #102028;
  --highlight: MediumSlateBlue;
  --highlight-off: #9586F1; 
  --primary-font: 'Poppins', Lato, 'Helvetica Neue', sans-serif;
  --gutter: 20px;
}

* { box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  font-family: var(--primary-font);
  font-size: clamp(16px, 2vw, 20px);
  background-color: var(--primary);
  color: var(--secondary);
}

a { @extend %link; }

#app {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 60px 0 var(--gutter);
  opacity: 0;
  transition: opacity 0.5s;

  &.is-ready { opacity: 1; }
}

.main {
  opacity: 0;

  .is-ready & { animation: fadein 0.75s 0.25s forwards; }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #102028;
    --secondary: #fff;
  }
}

@media (min-width: variables.$sm) {
  #app {
    width: 80%;
  }
}
