@use './src/styles/_variables';

.header {
  padding: 0 var(--gutter);
  opacity: 0;

  &__title {
    color: var(--highlight);
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0;
  }

  .is-ready & { animation: fadein 0.75s forwards; } 

  @media (min-width: variables.$sm) {
    padding: 0;
  }
}