@use './src/styles/_variables';

.popup {
  $el: &;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0.5s;
  z-index: 100;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    opacity: 0.35;
  }

  svg {
    height: 0.75em;
  }

  pre {
    margin: 0.25em 0;
  }

  &__wrapper {
    width: 90%;
    max-width: 576px;
    background-color: var(--primary);
    transform: translateY(-30px);
    border-radius: 4px;
    box-shadow: 0 0 20px 15px rgba(0,0,0,0.25);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s 0s, transform 0.2s 0s;
  }

  &__header,
  &__main {
    padding: var(--gutter);
  }

  &__header {
    display: none;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    transition: display 0s 0.3s;

    &--success { background-color: #2ECC40; }
    &--fail { background-color: #FF4136; }
    &--end { background-color: var(--highlight); }
  }

  &__specificity {
    font-size: 0.85em;
    border-collapse: collapse;
    margin: 0.5em 0;

    th {
      padding: 0 0.75em;
      text-transform: uppercase;
      font-size: 0.75em;
    }

    td { 
      border: solid 1px currentColor;
      padding: 0 0.5em;
    }

    .nbr {
      min-width: 4em;
      font-weight: bold;
      text-align: right; 
    }
  }

  &__explanations {
    margin: var(--gutter) 0 0;
  }

  &__next,
  &__show-result,
  &__random-questions {
    display: block;
    font-size: 1rem;
    background-color: var(--highlight);
    color: white;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 1em;
    cursor: pointer;

    &:hover { background-color: var(--highlight-off); }
  }

  &__show-result,
  &__random-questions { display: none; }

  &--success,
  &--fail,
  &--end {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s;

    #{$el} {
      &__wrapper {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s 0.15s, transform 0.5s 0.15s;
      }
    }
  }

  &--success {
    #{$el} {
      &__header--success { 
        display: block; 
        transition: display 0s 0s;
      }
    }
  }

  &--fail {
    #{$el} {
      &__header--fail { 
        display: block;
        transition: display 0s 0s; 
      }
    }
  }

  &--end {
    text-align: center;

    #{$el} {
      &__header--end { 
        display: block;
        transition: display 0s 0s; 
      }

      &__random-questions { display: block; }
      &__next,
      &__show-result { display: none; }
    }

    .final-score {
      font-size: 2em;
      font-weight: bold;
    }
  }

  &--no-more-question {
    #{$el} {
      &__show-result { display: block; }
      &__next { display: none; }
    }
  }
}